{% extends "layout.html" %}{% block content %}
<!-- Start Header -->
<header id="mu-header" class="" role="banner">
	<div class="container">
		<nav class="navbar navbar-default mu-navbar">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<!-- Image Logo <a class="navbar-brand" href="www.t4teq.com"><img src="assets/images/logo.png"></a> -->

					<a class="navbar-brand" href="http://www.t4teq.com">T4TEQ</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav mu-menu navbar-right">
						<li><a href="#">HOME</a></li>
						<li><a href="#mu-about">ABOUT US</a></li>
						<li><a href="#mu-service">SERVICES</a></li>
						<li><a href="#mu-portfolio">TRAINING</a></li>
						<li><a href="#mu-team">TEAM</a></li>
						<li><a href="#mu-testimonials">TESTIMONAL</a></li>
						<li><a href="#mu-contact">CONTACT</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</header>
<!-- End Header -->

<!-- Start Featured Slider -->

<section id="mu-featured-slider">
	<div class="row">
		<div class="col-md-12">
			<div class="mu-featured-slide">
				<!-- Start Single slide -->
				<div class="mu-featured-slider-single">
					<img src="{{ url_for('static',filename='images/slider-img-1.jpg')}}" />
					<div class="mu-featured-slider-content">
						<h1>CORPORATE TRAINING</h1>
						<p style="line-height: 2;">Only Corporate Training Company in Trichy.</p>
						<a href="https://forms.gle/4NJWeLNLk7mpYHSJA" class="mu-primary-btn">ENQUIRE NOW</a>
					</div>
				</div>
				<!-- End Single slide -->

				<!-- Start Single slide -->
				<div class="mu-featured-slider-single">
					<img src="{{ url_for('static',filename='images/slider-img-2.jpg')}}" />
					<div class="mu-featured-slider-content">
						<h1>INTERNSHIPS</h1>
						<p style="line-height: 2;">Internship Training plays an important role to aid the process of student's recruitment.</p>
						<a href="https://forms.gle/4NJWeLNLk7mpYHSJA" class="mu-primary-btn">ENQUIRE NOW</a>
					</div>
				</div>
				<!-- End Single slide -->

				<!-- Start Single slide -->
				<div class="mu-featured-slider-single">
					<img src="{{ url_for('static',filename='images/slider-img-3.jpg')}}" />
					<div class="mu-featured-slider-content">
						<h1>APTITUDE TRAINING</h1>
						<p style="line-height: 2;">Aptitude is one of the most important parts of competition exams and job interviews.</p>
						<a href="https://forms.gle/4NJWeLNLk7mpYHSJA" class="mu-primary-btn">ENQUIRE NOW</a>
					</div>
				</div>
				<!-- End Single slide -->

				<!-- Start Single slide -->
				<div class="mu-featured-slider-single">
					<img src="{{ url_for('static',filename='images/slider-img-4.jpg')}}" />
					<div class="mu-featured-slider-content">
						<h1>IN-PLANT TRAINING</h1>
						<p style="line-height: 2;">In-plant Training, T4TEQ provide a real time exposure for the students on the latest technologies.</p>
						<a href="https://forms.gle/4NJWeLNLk7mpYHSJA" class="mu-primary-btn">ENQUIRE NOW</a>
					</div>
				</div>
				<!-- End Single slide -->

				<!-- Start Single slide -->
				<div class="mu-featured-slider-single">
					<img src="{{ url_for('static',filename='images/slider-img-5.jpg')}}" />
					<div class="mu-featured-slider-content">
						<h1>FREE INTERVIEW TRAINING</h1>
						<p style="line-height: 2;">Every sundays, we are conducting free interview training classes at T4TEQ. Technical Sessions, Group Discussions, HR Meet, Aptitude Test and Mock interview will be conducted.</p>
						<a href="https://forms.gle/4NJWeLNLk7mpYHSJA" class="mu-primary-btn">ENQUIRE NOW</a>
					</div>
				</div>
				<!-- End Single slide -->
			</div>
		</div>
	</div>
</section>

<!-- Start Featured Slider -->

<!-- Start main content -->

<main role="main">
	<!-- Start About -->
	<section id="mu-about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-about-area">
						<div class="mu-about-header">
							<h2 class="mu-heading-title">ABOUT <span>US</span></h2>
							<span class="mu-header-dot"></span>
							<p style="line-height: 2;"><b>T4TEQ Software Solutions</b> is the best Corporate Company in Tamilnadu. It was incorporated as a Software Company under MCA, Govt. of India on 2017 with the aim of building the students in all standards and skills to deploy themself in the IT based industries as a competent employees. We offer end-to-end programmes in Corporate Training, Technical Training, Programming and Interview Training with various collaborative projects and real time scenarios for all Branches in Universities, Arts & Science, Engineering and Polytechnic Colleges.</p>
							<p style="line-height: 2;">T4TEQ Software Solutions give Unique Friendly Training methodology with the latest technologies required in IT Industries with 24/7 support so that you can get updated knowledge support anytime. We have SME (Subject Matter Expert)’s for each technologies and domain. We have well experienced trainers from various Industries. We have trained and placed many students from many reputed Colleges, Universities, Institutions and IT Companies for past seven years. We have conducted many workshops and guest lectures in all the trending topics sporadically.</p>
						</div>

						<!-- Start About Us Content -->
						<div class="mu-about-content">
							<div class="row">
								<!-- About Us Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-about-content-single">
										<span class="mu-about-icon-box">
											<i class="icon-screen-tablet"></i>
										</span>
										<h4>Software<br />Development</h4>
									</div>
								</div>
								<!-- / About Us Single Content -->

								<!-- About Us Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-about-content-single">
										<span class="mu-about-icon-box">
											<i class="icon-puzzle"></i>
										</span>
										<h4>Corporate<br />Training</h4>
									</div>
								</div>
								<!-- / About Us Single Content -->

								<!-- About Us Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-about-content-single">
										<span class="mu-about-icon-box">
											<i class="icon-settings"></i>
										</span>
										<h4>Career<br />Guidance</h4>
									</div>
								</div>
								<!-- / About Us Single Content -->

								<!-- About Us Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-about-content-single">
										<span class="mu-about-icon-box">
											<i class="icon-docs"></i>
										</span>
										<h4>Value Added<br />Courses</h4>
									</div>
								</div>
								<!-- / About Us Single Content -->
							</div>
						</div>
						<!-- End About Us Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About -->

	<!-- Start Counter -->
	<section id="mu-counter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-counter-area">
						<h2 class="mu-heading-title">SOME FACTS ABOUT US</h2>

						<div class="mu-counter-block">
							<div class="row">
								<!-- Start Single Counter -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-single-counter">
										<i class="icon-like"></i>
										<div class="counter-value" data-count="74">0</div>
										<h5 class="mu-counter-name">Software Developed</h5>
									</div>
								</div>
								<!-- / Single Counter -->

								<!-- Start Single Counter -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-single-counter">
										<i class="icon-emotsmile"></i>
										<div class="counter-value" data-count="623">0</div>
										<h5 class="mu-counter-name">Placed Students</h5>
									</div>
								</div>
								<!-- / Single Counter -->

								<!-- Start Single Counter -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-single-counter">
										<i class="icon-cup"></i>
										<div class="counter-value" data-count="1500">0</div>
										<h5 class="mu-counter-name">Interview Tasks</h5>
									</div>
								</div>
								<!-- / Single Counter -->

								<!-- Start Single Counter -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-single-counter">
										<i class="icon-trophy"></i>
										<div class="counter-value" data-count="24">0</div>
										<h5 class="mu-counter-name">Corporate Trainers</h5>
									</div>
								</div>
								<!-- / Single Counter -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter -->

	<!-- Start Service -->
	<section id="mu-service">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-service-area">
						<div class="mu-service-header">
							<h2 class="mu-heading-title">OUR <span>SERVICES</span></h2>
						</div>

						<!-- Start Service Content -->
						<div class="mu-service-content">
							<div class="row">
								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-puzzle"></i>
										</span>
										<h4>Programming</h4>
										<ul>
											<li>C with Data Structure</li>
											<li>Advance Java</li>
											<li>Python Programming</li>
											<li>R Language</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-screen-desktop"></i>
										</span>
										<h4>Web Development</h4>
										<ul>
											<li>HTML, CSS</li>
											<li>Javascript, JQuery</li>
											<li>Angular Js</li>
											<li>PHP</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-briefcase"></i>
										</span>
										<h4>Technology</h4>
										<ul>
											<li>.NET Framework</li>
											<li>.NET Core</li>
											<li>ASP.NET</li>
											<li>MVC Application</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-screen-tablet"></i>
										</span>
										<h4>Digital Marketing</h4>
										<ul>
											<li>Strategy</li>
											<li>SEO</li>
											<li>Social Media Marketing</li>
											<li>Google Analytics</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-screen-smartphone"></i>
										</span>
										<h4>Mobile Application</h4>
										<ul>
											<li>Android</li>
											<li>Xamarin</li>
											<li>PhoneGap</li>
											<li>Ionic</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-graph"></i>
										</span>
										<h4>Data Science</h4>
										<ul>
											<li>Probability and Statistics</li>
											<li>Excel and Business Analytics</li>
											<li>Python Programming</li>
											<li>R Language</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-vector"></i>
										</span>
										<h4>UI/UX Design</h4>
										<ul>
											<li>Photoshop</li>
											<li>Illustrator</li>
											<li>Corel Draw</li>
											<li>Desktop Publishing</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-md-3 col-sm-6">
									<div class="mu-service-content-single">
										<span class="mu-service-icon-box">
											<i class="icon-people"></i>
										</span>
										<h4>Training</h4>
										<ul>
											<li>Corporate Training</li>
											<li>Aptitude Training</li>
											<li>HR Training</li>
											<li>Softskill Training</li>
										</ul>
									</div>
								</div>
								<!-- / Service Single Content -->
							</div>
						</div>
						<!-- End Service Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Service -->
	<!-- Start Portfolio -->
	<section id="mu-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-portfolio-area">
						<div class="mu-portfolio-header">
							<h2 class="mu-heading-title">OUR <span>TRAINING</span></h2>
							<span class="mu-header-dot"></span>
						</div>

						<!-- Start Portfolio Filter -->
						<div class="mu-portfolio-filter-area">
							<ul class="mu-simplefilter">
								<li class="active" data-filter="all">All</li>
								<li data-filter="1">Our Office</li>
								<li data-filter="2">KRCE & KRCT</li>
								<li data-filter="3">SRM TRP Engg College</li>
								<li data-filter="4">Other Colleges</li>
								<li data-filter="5">Orphanage</li>
							</ul>
						</div>

						<!-- Start Portfolio Content -->
						<div class="mu-portfolio-content">
							<div class="filtr-container">
								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-1.jpg')}}" title="Dr. Mansure sir during Office Opening">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-1.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Dr. Mansure sir during Office Opening</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-2.jpg')}}" title="Interview Training at SRM TRP Enggineering College">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-2.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Interview Training at SRM TRP Enggineering College</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-3.jpg')}}" title="Our Aptitute Senior Team at T4TEQ">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-3.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Our Aptitute Senior Team at T4TEQ</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-4.jpg')}}" title="Aptitude Training at T4TEQ">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-4.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Aptitude Training at T4TEQ</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-5.jpg')}}" title="Technical Lab Session at T4TEQ">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-5.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Technical Lab Session at T4TEQ</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="5">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-6.jpg')}}" title="Lunch at Orphanage with our Team">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-6.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Lunch at Orphanage with our Team</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="4">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-7.jpg')}}" title="Workshop at Kongunadu College of Engineering">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-7.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Workshop at Kongunadu College of Engineering</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="4">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-8.jpg')}}" title="Inaguration at MIET Arts & Science College">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-8.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Inaguration at MIET Arts & Science College</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-9.jpg')}}" title="Interview Training at K.Ramakrishnan College of Technology">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-9.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Interview Training at K.Ramakrishnan College of Technology</h4>
										</div>
									</a>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-10.jpg')}}" title="Interview Training at SRM TRP Enggineering College">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-10.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Interview Training at SRM TRP Enggineering College</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-11.jpg')}}" title="Interview Training at K.Ramakrishnan College of Engineering">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-11.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Interview Training at K.Ramakrishnan College of Engineering</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-12.jpg')}}" title="Web Development Workshop at K.Ramakrishnan College of Technology">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-12.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Web Development Workshop at K.Ramakrishnan College of Technology</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="4">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-13.jpg')}}" title="Aptitude Training at MIET Arts & Science College">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-13.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Aptitude Training at MIET Arts & Science College</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="5">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-14.jpg')}}" title="Our Team with Kids at Orphanage">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-14.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Our Team with Kids at Orphanage</h4>
										</div>
									</a>
								</div>

								<div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3">
									<a class="mu-imglink" href="{{ url_for('static',filename='images/portfolio/img-15.jpg')}}" title="Interview Training at SRM TRP Enggineering College">
										<img class="img-responsive" src="{{ url_for('static',filename='images/portfolio/img-15.jpg')}}" alt="image" />
										<div class="mu-filter-item-content">
											<h3 class="mu-filter-item-title">T4TEQ</h3>
											<h4 class="mu-filter-item-title">Interview Training at SRM TRP Enggineering College</h4>
										</div>
									</a>
								</div>
							</div>
						</div>
						<!-- End Portfolio Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio -->

	<!-- Start Team -->
	<section id="mu-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-team-area">
						<div class="mu-team-header">
							<h2 class="mu-heading-title">OUR <span>TEAM</span></h2>
							<span class="mu-header-dot"></span>
						</div>

						<!-- Start Team Content -->
						<div class="mu-team-content">
							<div class="row">
								<!-- Team Single Content -->
								<div class="col-sm-6 col-md-4">
									<div class="mu-team-content-single">
										<div class="mu-team-profile">
											<img src="{{ url_for('static',filename='images/team-member-1.jpg')}}" alt="team member" />
										</div>
										<div class="mu-team-info">
											<h4>2018</h4>
										</div>
									</div>
								</div>
								<!-- / Team Single Content -->

								<!-- Service Single Content -->
								<div class="col-sm-6 col-md-4">
									<div class="mu-team-content-single">
										<div class="mu-team-profile">
											<img src="{{ url_for('static',filename='images/team-member-2.jpg')}}" alt="team member" />
										</div>
										<div class="mu-team-info">
											<h4>2019</h4>
										</div>
									</div>
								</div>
								<!-- / Service Single Content -->

								<!-- Service Single Content -->
								<div class="col-sm-6 col-md-4">
									<div class="mu-team-content-single">
										<div class="mu-team-profile">
											<img src="{{ url_for('static',filename='images/team-member-3.jpg')}}" alt="team member" />
										</div>
										<div class="mu-team-info">
											<h4>2018</h4>
										</div>
									</div>
								</div>
								<!-- / Service Single Content -->
							</div>
						</div>
						<!-- End Team Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team -->

	<!-- Start Testimonials -->
	<section id="mu-testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-testimonials-area">
						<h2 class="mu-heading-title">Student <span>Testimonials</span></h2>

						<div class="mu-testimonials-block">
							<ul class="mu-testimonial-slide">
								<li>
									<p>"The best place to learn. I joined T4TEQ without knowing anything in programming including the header files. now I am working in an TCS. Thanks a lot."</p>
									<h5 class="mu-ct-name">- Sandhya Ravi</h5>
									<span class="mu-ct-title">System Engineer, TCS</span>
								</li>

								<li>
									<p>"It's really awesome company to work on and to have a course too. It's all possible because of the people who helps to complete the courses (trainers) for trainees. Friendly and comfortable environment to be with."</p>
									<h5 class="mu-ct-name">- Akshara Karikalan</h5>
									<span class="mu-ct-title">Software Engineer, Crystal Delta</span>
								</li>

								<li>
									<p>"Learning experience in T4TEQ is now helping a lot in my career. Thanks T4TEQ. Special thanks everyone..."</p>
									<h5 class="mu-ct-name">- Mohamed Salman</h5>
									<span class="mu-ct-title">System Engineer, IBM</span>
								</li>

								<li>
									<p>"Great place to get knowledge without any flaws. Friendly approach towards students. Value for time and money ."</p>
									<h5 class="mu-ct-name">- Vinoth Panneer Selvam</h5>
									<span class="mu-ct-title">Sales Force Developer, Metasoft</span>
								</li>

								<li>
									<p>"T4TEQ is the main reason which helped me clear my interview in technical rounds. The concepts are clearly explained and helps us know some tricks in programming to make programs more efficient which most people dont teach."</p>
									<h5 class="mu-ct-name">- Hephzibah Selvaraj</h5>
									<span class="mu-ct-title">System Engineer, Infosys</span>
								</li>

								<li>
									<p>" It's a great place to gain knowledge about a IT sector . It is the finist place to learning and developing our coding skills and soft skills. I suggest all of our college students to join T4TEQ and shine your better future."</p>
									<h5 class="mu-ct-name">- Ajith Kumar R</h5>
									<span class="mu-ct-title">Software Tester, Amazon</span>
								</li>

								<li>
									<p>"Im a Mech Studet, I got trained in T4TEQ for 3 months and got placed in Zoho Corp. T4TEQ is the Perfect Training Center in trichy surrounding."</p>
									<h5 class="mu-ct-name">- Dhanush Ram</h5>
									<span class="mu-ct-title">Software Developer, Zoho Corp</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonials -->

	<!-- Start Contact -->
	<section id="mu-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-contact-area">
						<div class="mu-contact-header">
							<h2 class="mu-heading-title">CONTACT <span>US</span></h2>
							<span class="mu-header-dot"></span>
							<p>For doubts and queries, message here. T4EQ will contact you soon.</p>
						</div>

						<!-- Start Contact Content -->
						<div class="mu-contact-content">
							<div class="row">
								<div class="col-md-8">
									<div class="mu-contact-left">
										<div id="form-messages"></div>
										<form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Name" id="name" name="name" required />
											</div>
											<div class="form-group">
												<input type="number" class="form-control" placeholder="Enter Mobile Number" id="numb" name="numb" required />
											</div>
											<div class="form-group">
												<input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required />
											</div>

											<div class="form-group">
												<textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
											</div>
											<button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
										</form>
									</div>
								</div>

								<div class="col-md-4">
									<div class="mu-contact-right">
										<h4>T4TEQ Software Solutions</h4>
										<p>T4TEQ is the best Corporate Training Company in Tamil Nadu. We are the Training partner to many Corporates, Institutions & Individuals.</p>
										<address>
											<p><i class="icon-location-pin"></i>#5, All Saints Complex, Puthur, Trichy-17</p>
											<p><i class="icon-envelope"></i>info@t4teq.com</p>
											<p><i class="icon-phone"></i>+91 754-004-6220</p>
										</address>
										<div class="mu-social-media">
											<a href="https://www.facebook.com/t4teq/"><i class="icon-social-facebook"></i></a>
											<a href="https://twitter.com/T4teqS"><i class="icon-social-twitter"></i></a>
											<a href="https://www.instagram.com/t4teqsoftware"><i class="icon-social-instagram"></i></a>
											<a href="http://linkedin.com/company/t4teqss"><i class="icon-social-linkedin"></i></a>
											<a href="https://www.youtube.com/channel/UChgyfusnDVLkPv_TXQbk98A"><i class="icon-social-youtube"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Contact Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact -->

	<!-- Start Google Map -->
	<section id="mu-google-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.931650428377!2d78.67486401411672!3d10.816542661411317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baaf5a3a4d863d3%3A0x1a4d128a858bca67!2sT4TEQ%20Software%20Solutions%20-%20Best%20Training%20Centre%20%5BExperts%20for%20JAVA%20.NET%20Android%20Python%20%5D!5e0!3m2!1sen!2sin!4v1573971079617!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</section>
	<!-- End Google Map -->
</main>
<br />
<!-- End main content -->
<section style="text-align:center;height:auto;font-size:10;display: block;">
	<ul style="display: inline;font-size:10px;">
		<li style="display: inline;"><a href="#mu-about">ABOUT US</a></li>
		<span> &#183; </span>
		<li style="display: inline;"><a href="#mu-service">SERVICES</a></li>
		<span> &#183; </span>
		<li style="display: inline;"><a href="#mu-portfolio">TRAINING</a></li>
		<span> &#183; </span>
		<li style="display: inline;"><a href="#mu-team">TEAM</a></li>
		<span> &#183; </span>
		<li style="display: inline;"><a href="#mu-testimonials">TESTIMONAL</a></li>
		<span> &#183; </span>
		<li style="display: inline;"><a href="https://forms.gle/rTgCgSnnazFL7cm49">CERTIFICATE</a></li>
	</ul>
	<!-- Start footer -->
</section>
<br /><br />
<footer id="mu-footer" role="contentinfo">
	<div class="container">
		<div class="mu-footer-area">
			<p>&copy; Copyright <a rel="nofollow" href="http://t4teq.com">T4TEQ Software Solutions</a>. All right reserved.</p>
		</div>
	</div>
</footer>
<!-- End footer -->

<!-- chatbot -->

<div class="floating-chat">
	<i class="fa fa-comments" aria-hidden="true"></i>
	<div class="chat">
		<div class="header">
			<span class="title">
				what's on your mind?
			</span>
			<button>
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</div>
		<ul class="messages">
			<li class="other">How may I help you?</li>
		</ul>
		<div class="footer">
			<div class="text-box" id="queryTextbox" contenteditable="true" disabled="true"></div>
			<button id="sendMessage">send</button>
		</div>
	</div>
</div>
<!-- End chatbot -->
{% endblock content %}
